<div class="createRestaurant">
    <button mat-flat-button color="primary" (click)="createNewRestaurant()">Create Restaurant</button>
</div>
<div class="restaurantList">
    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.field">
                <th mat-header-cell *matHeaderCellDef> {{ column.headerName }} </th>
                <td class="textWrapNone" mat-cell *matCellDef="let element; let i = index">
                    <!-- Use *ngIf to conditionally render based on column.field -->
                    <ng-container *ngIf="column.field !== 'actions'; else actionsCell">
                        {{ column.field === 'id' ? i : element[column.field] }}
                    </ng-container>
                    <ng-template #actionsCell>
                        <button mat-icon-button color="primary" (click)="edit(element.id)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button color="warn" (click)="delete(element.id)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </ng-template>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
        </table>
    </div>
</div>